# **/pictures/
# **/Congestion_Test
**/Congestion_Test_old
**/Results/**
output
SatNEx
SatNExV2
SatNExV4
.venv
**/.DS_Store
# **.npy
# **/pre_trained_NNs/**
SimulationRL_Old.py
**/Transactions/**.csv
blocks
**/rewards**